[DEFAULT]
runOnce=false
idle=10

[OTHER]
errorStaff=AFFAILED
delOrMoveCompleted=MOVE
moveFolder=\\mattarfs03\sharedfiles\faxes\outbound\sent
storeToDW=True
libreEXE=C:\Program Files\LibreOffice\program\swriter.exe

[WATCHFOLDER]
watchfolder=\\mattarfs03\sharedfiles\faxes\outbound
failedFolder=\\mattarfs03\sharedfiles\faxes\outbound\failed

[FAXFINDER]
ffWebAddr=http://faxfinder.mattar.local/ffws/v1/ofax
ffUser=admin
ffPass=xxxx
sendReceipt=always

coverPage=https://faxfinder.mattar.local/ffws/v1/data/cover_pages/wkm_template.pdf
faxOrg=William Mattar, P.C.
faxOrgPhone=716-444-4444
faxPhone=716-631-9804
emailAddr=matthewn@williammattar.com
maxRetries=20
tryInterval=600